.property-amount-radio,
.amt-radio {
  display: inline-flex; }

#amount-to-be-paid {
  margin-top: 0px !important;
  background-color: #f2f2f2 !important; }

.amt-radio {
  margin-right: 15px; }
  .amt-radio input {
    margin-right: 8px;
    cursor: pointer; }

@media only screen and (max-width: 768px) {
  .amt-radio {
    margin-right: 15px; } }
